:root {
  --hzn-primary: #FF8FB4;
  --hzn-secondary: #99AFFF;
  --hzn-accent: #FFF08F;

  --hzn-bg-darker: #1A202E;
  --hzn-bg-main: #232A3E;
  --hzn-bg-lighter: #353F5D;
  --hzn-bg-lightest: #353F5D;

  --hzn-text: #C2CFFF;

  --hzn-pink: #FF8FB4;
  --hzn-pink-dark: #B86F86;
  --hzn-green: #94FFB7;
  --hzn-green-dark: #70B987;
  --hzn-yellow: #FFF08F;
  --hzn-yellow-dark: #B8AE6F;
  --hzn-blue: #99AFFF;
  --hzn-blue-dark: #7181BB;
  --hzn-purple: #E294FF;
  --hzn-purple-dark: #A570B9;
  --hzn-cyan: #97F9FF;
  --hzn-cyan-dark: #70B6BA;

  --hzn-fade-ps-0: #FF8FB4;
  --hzn-fade-ps-1: #FF978F;
  --hzn-fade-ps-2: #FFC38F;
  --hzn-fade-ps-3: #FFF08F;

  --hzn-fade-pa-0: #FF8FB4;
  --hzn-fade-pa-1: #FF92FB;
  --hzn-fade-pa-2: #C196FF;
  --hzn-fade-pa-3: #99AFFF;

  --hzn-fade-as-0: #FFF08F;
  --hzn-fade-as-1: #A4FF92;
  --hzn-fade-as-2: #96FFEB;
  --hzn-fade-as-3: #99AFFF;

  --hzn-round: 2em;
}

.hzn-badge,
.hzn-badge-pink,
.hzn-badge-blue,
.hzn-badge-yellow {
  line-height: 1;
  display: inline-block;
  text-wrap: nowrap;
  padding: 0.2em 0.4em;
  border-radius: 2em;
  border-width: 0.15em;
  border-style: solid;
  transition-duration: 0.15s;
}

.hzn-badge:focus,
.hzn-badge-pink:focus,
.hzn-badge-blue:focus,
.hzn-badge-yellow:focus,
.hzn-badge:hover,
.hzn-badge-pink:hover,
.hzn-badge-blue:hover,
.hzn-badge-yellow:hover {
  color: var(--hzn-bg-main);
}

.hzn-badge:active,
.hzn-badge-pink:active,
.hzn-badge-blue:active,
.hzn-badge-yellow:active {
  transform: scale(0.95) translateY(0.25em);
}

.hzn-badge-pink {
  border-color: var(--hzn-pink);
  color: var(--hzn-pink);
}

.hzn-badge-blue {
  border-color: var(--hzn-blue);
  color: var(--hzn-blue);
}

.hzn-badge-yellow {
  border-color: var(--hzn-yellow);
  color: var(--hzn-yellow);
}

.hzn-badge-pink:hover {
  background-color: var(--hzn-pink);
}

.hzn-badge-blue:hover {
  background-color: var(--hzn-blue);
}

.hzn-badge-yellow:hover {
  background-color: var(--hzn-yellow);
}

.hzn-splash-text {
  margin-left: 2em;
  width: 32em;
}

@media only screen and (max-width: 600px) {
  .hzn-splash-text {
    margin-left: 1em;
    width: 24em;
  }
}