/*
:root {
  --primary: #FF439B;
  --accent: #FAFF5C;
  --background: #1D1C36;
  --background-dark: #11101F;

  --text-pink: #FFD0E6;
  --text-blue: #D2D0FF;
}
*/

:root {
  --neutral-100: oklch(98% 0.01 234deg);
  --neutral-200: oklch(86% 0.07 262deg);
  --neutral-300: oklch(74% 0.08 264deg);
  --neutral-400: oklch(62% 0.08 264deg);
  --neutral-500: oklch(50% 0.08 264deg);
  --neutral-600: oklch(40% 0.07 264deg);
  --neutral-700: oklch(30% 0.05 264deg);
  --neutral-800: oklch(20% 0.04 264deg);
  --neutral-900: oklch(10% 0.03 264deg);

  --primary-100: oklch(97% 0.02 345deg);
  --primary-200: oklch(90% 0.06 355deg);
  --primary-300: oklch(84% 0.1 357deg);
  --primary-400: oklch(77% 0.15 358deg);
  --primary-500: oklch(70% 0.21 358deg);
  --primary-600: oklch(58% 0.23 1deg);
  --primary-700: oklch(42% 0.17 2deg);
  --primary-800: oklch(27% 0.11 3deg);
  --primary-900: oklch(11% 0.04 7deg);

  --accent-100: oklch(97% 0.07 101deg);
  --accent-200: oklch(95% 0.1 98deg);
  --accent-300: oklch(93% 0.12 96deg);
  --accent-400: oklch(91% 0.15 95deg);
  --accent-500: oklch(89% 0.17 94deg);
  --accent-600: oklch(70% 0.14 86deg);
  --accent-700: oklch(50% 0.1 85deg);
  --accent-800: oklch(30% 0.06 82deg);
  --accent-900: oklch(10% 0.02 67deg);
}



img {
  max-width: 100%;
  max-height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--neutral-800);
  font-family: "Lexend", sans-serif;
  color: var(--neutral-200);
}

ul {
  padding-left: 1rem;
}

a {
  color: var(--neutral-200);
  text-decoration: underline;
  text-decoration-color: var(--primary-400);
  text-decoration-thickness: 2px;
  transition: color 0.05s ease-out;
}

a:hover {
  color: var(--primary-200);
  text-decoration: underline;
  text-decoration-color: var(--primary-400);
  text-decoration-thickness: 2px;
}

#titlebar {
  z-index: 999;
  position: sticky;
  top: 0;
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  height: 4rem;
  line-height: 2.5rem;
  background-color: var(--primary-500);
  box-shadow: #000000A0 0 0 1.5rem;
}

#titlebar img {
  display: none;
}

#titlebar h1 {
  text-wrap: nowrap;
  display: none;
  color: var(--neutral-800);
}

#titlebar nav {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  margin-left: auto;
}

#titlebar nav::before {
  position: absolute;
  top: 0;
  content: "";
  height: 100%;
  width: 3rem;
  background: linear-gradient(to right, var(--primary-500), transparent);
}

#titlebar nav::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 100%;
  width: 3rem;
  background: linear-gradient(to left, var(--primary-500), transparent);
}

#titlebar nav ul {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  list-style-type: none;
  justify-content: space-between;
  padding: 0 3rem;
  gap: 2rem;
  margin: 0;
}

#titlebar nav li {
  align-self: end;
}

#titlebar nav ul a {
  flex: 1 1 auto;
  text-align: center;
  font-size: 1.15rem;
  text-decoration: none;
  text-decoration-color: white;
  color: var(--primary-800);
  transition: color 0.1s ease-out;
}

#titlebar nav ul a:hover,
#titlebar nav ul a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: var(--neutral-100)
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

#hero {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-800);
  padding: 2rem;
  margin: -1rem -1rem 0 -1rem;
  min-height: calc(100vh - 4rem);
  gap: 2rem;
  place-items: center;
  box-sizing: border-box;
}

#hero div {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#hero>* {
  animation: fade-in ease 1s both;
}

#hero .button {
  white-space: nowrap;
  background-color: transparent;
  border: solid 2px color-mix(in oklch, var(--accent-300), var(--accent-400));
  color: color-mix(in oklch, var(--accent-300), var(--accent-400));
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 4rem;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
  width: fit-content;
  transition: all 0.15s ease-out;
  place-self: center;
  text-decoration: none;
  animation-delay: 0.5s;
}

#hero .button:hover,
#hero .button:focus {
  transform: translateY(-0.25rem);
  color: var(--neutral-800);
  background-color: color-mix(in oklch, var(--accent-300), var(--accent-400));
}

#hero .button:active {
  transform: translateY(0.25rem);
  opacity: 67%;
}

#hero aside {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-height: 67vw;
  position: relative;
  order: -1;
  perspective: 18cm;
}

#hero aside img {
  object-fit: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  position: absolute;
  border-radius: 1rem;
  animation: carousel ease 32s both infinite;
  box-shadow: 0.5rem 1rem 2rem #00000050;
}

/* #hero aside:hover img { */
/* transform: scale2D(150%); */
/* } */

#mission,
#vision {
  line-height: 2.5rem;
  animation: fade-in ease 1s both;
}

#mission {
  color: var(--neutral-200);
}

#vision {
  color: var(--neutral-400);
  animation-delay: 0.25s;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--neutral-700);
}

main section {
  padding: 1rem;
  border-radius: 1rem;
}

main section:not(:has(.horizontal-sections)) h1,
main section:not(:has(.horizontal-sections)) h2 {
  border-bottom: 2px solid var(--neutral-600);
}

main section h1::before,
main section h2::before {
  content: "¶";
  color: transparent;
  text-decoration: none;
  transition: color 0.1s ease-out;
  padding-right: 0.5rem;
}

main section h1:hover::before,
main section h2:hover::before {
  color: var(--accent-300);
  text-decoration: none;
}

main section h1 a,
main section h2 a {
  color: var(--neutral-200);
  text-decoration: none;
  cursor: pointer;
}

main section h1 a:hover,
main section h2 a:hover {
  color: color-mix(in oklch, var(--accent-100), var(--neutral-100), 50%);
  text-decoration: none;
}

main section:not(:has(.horizontal-sections)) h1,
main section:not(:has(.horizontal-sections)) h2,
main section:not(:has(.horizontal-sections)) h3 {
  padding: 1rem 0rem;
  margin: 0;
}

main section h3 {
  margin-bottom: 0;
}

main section:target {
  animation: anchor-highlight 0.75s ease;
}

main section:target:has(.horizontal-sections) {
  animation: anchor-highlight-solid 0.75s ease;
}

main section:target:has(.horizontal-sections) h1 a,
main section:target:has(.horizontal-sections) h2 a {
  color: var(--neutral-700);
}

main section:has(.horizontal-sections) h3 {
  padding-left: 0;
  color: var(--neutral-700);
  font-weight: bold;
}

main section:has(.horizontal-sections) h1 a,
main section:has(.horizontal-sections) h2 a,
main section:has(.horizontal-sections) h3 a {
  padding-left: 0;
  color: var(--neutral-700);
  font-weight: bold;
}

main section:has(.horizontal-sections) h1 a:hover,
main section:has(.horizontal-sections) h2 a:hover,
main section:has(.horizontal-sections) h3 a:hover {
  color: var(--neutral-600);
}

main section:has(.horizontal-sections) li a {
  color: var(--neutral-700);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: var(--accent-300);
}

main section:has(.horizontal-sections) li:hover a {
  color: var(--accent-200);
}

main section:target h1 a,
main section:target h2 a {
  color: color-mix(in oklch, var(--accent-100), var(--neutral-100), 50%);
  text-decoration: underline;
  /* apparently this property is only supported on Firefox
  text-decoration-inset: 0.75rem; */
  text-decoration-thickness: 3px;
  text-decoration-color: var(--accent-300);
}

main section ul {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

main section:has(.horizontal-sections) {
  margin: 0;
  border-radius: 0;
  background-color: var(--primary-500);
  color: var(--neutral-700);
}

#about p {
  font-size: 1.25rem;
  color: var(--neutral-300);
}

#about p b {
  color: var(--neutral-200);
}

#skills {
  margin: -1rem;
}

.horizontal-sections {
  display: grid;
  gap: 0 4rem;
}

.horizontal-sections div {
  width: 100%;
}

.horizontal-sections ul {
  padding-left: 1rem;
}

.horizontal-sections .spacer {
  min-width: 2px;
  min-height: 2px;
  border-right: 2px var(--neutral-700) dashed;
  opacity: 25%;
  margin: 0;
  padding: 0;
}

footer {
  padding: 1rem 0;
  text-align: center;
  font-style: italic;
  background-color: var(--neutral-800);
}

@keyframes anchor-highlight {
  0% {
    background-color: oklch(from var(--accent-100) l c h / 20%);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes anchor-highlight-solid {
  0% {
    background-color: oklch(from var(--accent-100) l c h / 50%);
  }

  100% {
    background-color: var(--primary-500);
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes carousel {
  0% {
    z-index: 1;
    transform: translateY(-15%) rotateX(15deg);
    filter: blur(0);
    opacity: 0;
  }

  3%,
  22% {
    transform: translateY(0) rotateX(0deg);
    filter: blur(0);
    opacity: 1;
  }

  25% {
    z-index: 0;
    transform: translateY(15%) rotateX(-15deg);
    filter: blur(0.5rem);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media (min-width: 320px) {
  #titlebar img {
    display: block;
  }

  #mission,
  #vision {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 6rem;
  }

  #titlebar img {
    margin-left: 2rem;
  }

  #titlebar nav ul {
    opacity: 100%;
    gap: 4rem;
  }

  #hero {
    flex-direction: row;
    padding: 4rem;
    box-sizing: border-box;
    height: calc(100vh - 4rem);
    margin: -2rem -2rem 0 -2rem;
  }

  #hero aside {
    margin-bottom: 4rem;
    height: 100%;
    order: 0;
  }

  #hero aside img {
    margin: auto;
  }

  main {
    gap: 2rem;
    padding: 2rem;
  }

  main section {
    max-width: 512px;
    width: 100%;
    padding: 2rem;
  }

  #skills {
    max-width: fit-content;
    border-radius: 1.5rem;
  }

  main section:not(:has(.horizontal-sections)) ul {
    flex-direction: row;
    gap: 4rem;
    line-height: 2rem;
  }

  #skills {
    margin: 0;
  }

  .to-right {
    margin-left: auto;
  }

  .horizontal-sections {
    grid-template-columns: 1fr 1fr;
  }

  .horizontal-sections div {
    width: max-content;
  }

  footer {
    padding: 2rem 0;
  }
}

@media (min-width: 1024px) {
  #titlebar h1 {
    margin: 0 -2rem 0 2rem;
    display: block;
  }

  .horizontal-sections {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  main section {
    max-width: 768px;
  }

  #hero aside img {
    max-width: 33vw;
  }
}