:root {
  --neutral-100: oklch(98% 0.01 234deg);
  --neutral-200: oklch(86% 0.07 262deg);
  --neutral-300: oklch(74% 0.08 264deg);
  --neutral-400: oklch(62% 0.08 264deg);
  --neutral-500: oklch(50% 0.08 264deg);
  --neutral-600: oklch(40% 0.07 264deg);
  --neutral-700: oklch(30% 0.05 264deg);
  --neutral-800: oklch(20% 0.04 264deg);
  --neutral-900: oklch(10% 0.03 264deg);

  --primary-100: oklch(97% 0.02 345deg);
  --primary-200: oklch(90% 0.06 355deg);
  --primary-300: oklch(84% 0.1 357deg);
  --primary-400: oklch(77% 0.15 358deg);
  --primary-500: oklch(70% 0.21 358deg);
  --primary-600: oklch(58% 0.23 1deg);
  --primary-700: oklch(42% 0.17 2deg);
  --primary-800: oklch(27% 0.11 3deg);
  --primary-900: oklch(11% 0.04 7deg);

  --accent-100: oklch(97% 0.07 101deg);
  --accent-200: oklch(95% 0.1 98deg);
  --accent-300: oklch(93% 0.12 96deg);
  --accent-400: oklch(91% 0.15 95deg);
  --accent-500: oklch(89% 0.17 94deg);
  --accent-600: oklch(70% 0.14 86deg);
  --accent-700: oklch(50% 0.1 85deg);
  --accent-800: oklch(30% 0.06 82deg);
  --accent-900: oklch(10% 0.02 67deg);
}

img {
  max-width: 100%;
  max-height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--neutral-800);
  font-family: "Lexend", sans-serif;
  color: var(--neutral-200);
}

ul {
  padding-left: 1rem;
}

a {
  color: var(--neutral-200);
  text-decoration: underline;
  text-decoration-color: var(--primary-400);
  text-decoration-thickness: 2px;
  transition: color 0.05s ease-out;
}

a:hover {
  color: var(--primary-200);
  text-decoration: underline;
  text-decoration-color: var(--primary-400);
  text-decoration-thickness: 2px;
}

.button {
  white-space: nowrap;
  background-color: transparent;
  border: solid 2px var(--neutral-500);
  color: var(--neutral-500);
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border-radius: 1em;
  width: fit-content;
  transition: all 0.15s ease-out;
  place-self: center;
  text-decoration: none;
  background-image: linear-gradient(in oklch 30deg, var(--primary-400), var(--primary-300));
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-position: top;
}

.button:hover,
.button:focus-visible {
  transform: translateY(-0.25rem);
  color: var(--neutral-800);
  border: solid 2px var(--primary-300);
  background-size: 100% 100%;
  text-decoration: none;
}

.button:active {
  transform: translateY(0.25rem);
  opacity: 75%;
}

#titlebar {
  z-index: 999;
  position: sticky;
  top: 0;
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  height: 4rem;
  line-height: 2.5rem;
  background-color: var(--primary-500);
  box-shadow: #000000A0 0 0 1.5rem;
}

#titlebar img {
  display: none;
}

#titlebar h1 {
  text-wrap: nowrap;
  display: none;
  color: var(--neutral-800);
}

#titlebar nav {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  margin-left: auto;
}

#titlebar nav::before {
  pointer-events: none;
  position: absolute;
  top: 0;
  content: "";
  height: 100%;
  width: 3rem;
  background: linear-gradient(to right, var(--primary-500), transparent);
}

#titlebar nav::after {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 100%;
  width: 3rem;
  background: linear-gradient(to left, var(--primary-500), transparent);
}

#titlebar nav ul {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  list-style-type: none;
  justify-content: space-between;
  padding: 0 3rem;
  gap: 2rem;
  margin: 0;
}

#titlebar nav li {
  align-self: end;
}

#titlebar nav ul a {
  flex: 1 1 auto;
  text-align: center;
  font-size: 1.15rem;
  text-decoration: none;
  text-decoration-color: white;
  color: var(--neutral-800);
  transition: color 0.1s ease-out;
}

#titlebar nav ul a:hover,
#titlebar nav ul a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}

h1,
h2,
h3 {
  font-family: "Questrial", sans-serif;
  font-weight: 500;
  color: var(--neutral-100)
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

#hero {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-800);
  padding: 2rem;
  margin: -1rem -1rem 0 -1rem;
  min-height: calc(100vh - 4rem);
  gap: 2rem;
  place-items: center;
  box-sizing: border-box;
}

#hero div {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#hero>* {
  animation: fade-in ease 1s both;
}

#hero .button {
  border: solid 2px color-mix(in oklch, var(--accent-300), var(--accent-400));
  color: color-mix(in oklch, var(--accent-300), var(--accent-400));
  font-family: "Questrial", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 4rem;
  background-image: linear-gradient(in oklch 30deg, var(--accent-400), var(--accent-300));
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-position: top;
  animation-delay: 0.5s;
}

#hero .button:hover,
#hero .button:focus-visible {
  transform: translateY(-0.25rem);
  color: var(--neutral-800);
  background-color: transparent;
  background-size: 100% 100%;
}

#hero .button:active {
  transform: translateY(0.25rem);
  opacity: 67%;
}


#hero aside {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-height: 67vw;
  position: relative;
  order: -1;
  perspective: 18cm;
}

#hero aside img {
  object-fit: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  position: absolute;
  border-radius: 1rem;
  animation: carousel ease 32s both infinite;
  box-shadow: 0.5rem 1rem 2rem #00000050;
}

/* #hero aside:hover img { */
/* transform: scale2D(150%); */
/* } */

#mission,
#vision {
  line-height: 2.5rem;
  animation: fade-in ease 1s both;
}

#mission {
  color: var(--neutral-200);
}

#vision {
  color: var(--neutral-400);
  animation-delay: 0.25s;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background: linear-gradient(in srgb to bottom, var(--neutral-700), color-mix(in oklch, var(--neutral-700), var(--neutral-800) 67%));
}

main section {
  padding: 1rem;
  border-radius: 2rem;
}

main section:not(:has(.horizontal-sections)) h1,
main section:not(:has(.horizontal-sections)) h2 {
  border-bottom: 2px solid var(--neutral-600);
}

main section h1,
main section h2 {
  padding: 1rem 0;
  margin: 0;
}

main section h1::before,
main section h2::before {
  content: "¶";
  color: transparent;
  text-decoration: none;
  transition: color 0.1s ease-out;
  padding-right: 0.5rem;
}

main section h1:hover::before,
main section h2:hover::before {
  color: var(--accent-300);
  text-decoration: none;
}

main section h1 a,
main section h2 a {
  color: var(--neutral-200);
  text-decoration: none;
  cursor: pointer;
}

main section h1 a:hover,
main section h2 a:hover {
  color: color-mix(in oklch, var(--accent-100), var(--neutral-100));
  text-decoration: none;
}

main section:not(:has(.horizontal-sections)) h1,
main section:not(:has(.horizontal-sections)) h2,
main section:not(:has(.horizontal-sections)) h3 {
  padding: 1rem 0rem;
  margin: 0;
}

main section h3 {
  margin-bottom: 0;
}

main section:target:not(:has(.horizontal-sections)) {
  animation: anchor-highlight 0.75s ease;
}

main section:target:has(.horizontal-sections)::after {
  pointer-events: none;
  top: 0;
  left: 0;
  border-radius: inherit;
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  animation: anchor-highlight 0.75s ease;
}

main section:has(.horizontal-sections) h3 {
  padding-left: 0;
  color: var(--neutral-800);
  font-weight: bold;
}

main section:has(.horizontal-sections) h1 a,
main section:has(.horizontal-sections) h2 a,
main section:has(.horizontal-sections) h3 a {
  padding-left: 0;
  color: var(--neutral-800);
  font-weight: bold;
}

main section:has(.horizontal-sections) h2 a:hover {
  color: var(--neutral-600);
}

main section:target:has(.horizontal-sections) h2 a:hover {
  color: color-mix(in oklch, var(--accent-100), var(--neutral-100));
}

main section:has(.horizontal-sections) li a {
  color: var(--neutral-800);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: var(--accent-300);
}

main section:has(.horizontal-sections) li:hover a {
  color: var(--accent-200);
  font-weight: 500;
}

main section:target h1 a,
main section:target h2 a {
  color: color-mix(in oklch, var(--accent-100), var(--neutral-100));
  text-decoration: underline;
  /* apparently this property is only supported on Firefox
  text-decoration-inset: 0.75rem; */
  text-decoration-thickness: 3px;
  text-decoration-color: var(--accent-300);
}

main section ul {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

main section:has(.horizontal-sections) {
  position: relative;
  margin: 0;
  border-radius: 0;
  background-color: var(--primary-500);
  color: var(--neutral-800);
}

#about p {
  font-size: 1.25rem;
  color: var(--neutral-300);
}

#about p b {
  color: var(--neutral-200);
}

#skills {
  margin: 0rem -1rem;

}

.horizontal-sections {
  display: grid;
  gap: 0 4rem;
}

.horizontal-sections div {
  width: 100%;
}

.horizontal-sections ul {
  padding-left: 1rem;
}

.horizontal-sections .spacer {
  min-width: 2px;
  min-height: 2px;
  border-right: 2px var(--neutral-700) dashed;
  opacity: 25%;
  margin: 0;
  padding: 0;
}

footer {
  color: var(--neutral-500);
  padding: 1rem 0;
  text-align: center;
  font-style: italic;
  background-color: var(--neutral-800);
}

@keyframes anchor-highlight {
  0% {
    background-color: oklch(from var(--accent-100) l c h / 20%);
  }

  100% {
    background-color: oklch(from transparent);
  }
}

@keyframes anchor-highlight-solid {
  0% {
    background-color: oklch(from var(--accent-100) l c h / 50%);
  }

  100% {
    background-color: var(--primary-500);
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes carousel {
  0% {
    z-index: 1;
    transform: translateY(-15%) rotateX(15deg);
    filter: blur(0);
    opacity: 0;
  }

  3%,
  22% {
    transform: translateY(0) rotateX(0deg);
    filter: blur(0);
    opacity: 1;
  }

  25% {
    z-index: 0;
    opacity: 0;
  }

  28% {
    transform: translateY(20%) rotateX(-20deg);
    filter: blur(0.5rem);
  }

  100% {
    opacity: 0;
  }
}

@media (min-width: 320px) {
  #titlebar img {
    display: block;
  }
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 6rem;
  }

  #titlebar img {
    margin-left: 2rem;
  }

  #titlebar nav ul {
    opacity: 100%;
    gap: 4rem;
  }

  #hero {
    flex-direction: row;
    padding: 4rem;
    box-sizing: border-box;
    height: calc(100vh - 4rem);
    margin: -2rem -2rem 0 -2rem;
  }

  #hero aside {
    margin-bottom: 4rem;
    height: 100%;
    order: 0;
  }

  #hero aside img {
    margin: auto;
  }

  main {
    gap: 2rem;
    padding: 2rem;
  }

  main section {
    max-width: 512px;
    width: 100%;
    padding: 2rem;
  }

  #skills {
    max-width: fit-content;
    border-radius: 1.5rem;
  }

  main section:not(:has(.horizontal-sections)) ul {
    flex-direction: row;
    gap: 4rem;
    line-height: 2rem;
  }

  #skills {
    margin: 0;
  }

  .to-right {
    margin-left: auto;
  }

  .horizontal-sections {
    grid-template-columns: 1fr 1fr;
  }

  .horizontal-sections div {
    width: max-content;
  }

  .carousel {
    margin: 0;
  }

  footer {
    padding: 2rem 0;
  }
}

@media (min-width: 1024px) {
  #titlebar h1 {
    margin: 0 -2rem 0 2rem;
    display: block;
  }

  #mission,
  #vision {
    font-size: 2.5rem;
  }

  .horizontal-sections {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #hero aside img {
    max-width: 33vw;
  }

  main section {
    max-width: 768px;
  }
}

.carousel {
  position: relative;
  margin-left: -2rem;
  margin-right: -2rem;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.card {
  min-width: 16rem;
  border: 2px solid var(--neutral-600);
  border-radius: 1rem;
  background-color: var(--neutral-700);
  box-shadow: 0rem 0.25rem 1rem #00000040;
  transition: all 0.1s ease;

  * {
    padding: 0;
    margin: 0rem 1rem;
  }

  *:last-child {
    padding-bottom: 1rem;
  }

  img {
    margin: 0;
    border-radius: calc(1rem - 2px);
    box-shadow: 0rem 0.15rem 0.5rem #00000030;
  }

  h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    font-family: Lexend;
    font-size: 1.25rem;
    color: var(--neutral-200);
  }

  .card-title {
    /* line-height: 1em; */
    align-self: center;
  }

  .badge {
    padding: 0.2rem 0.4rem;
    margin-left: auto;
  }

  .card-description {
    color: var(--neutral-300);
  }
}

a.card {
  text-decoration: none;
}

a.card:hover,
a.card:focus-visible {
  transform: translateY(-0.25rem);
  border-color: var(--primary-400);
  text-decoration: none;
}

a.card:hover .card-title {
  color: color-mix(in oklch, var(--primary-200), var(--primary-100));
}

a.card:hover .card-description {
  color: var(--primary-300);
}

a.card:hover .badge {
  border-color: color-mix(in srgb, var(--primary-400), transparent 25%);
  color: var(--primary-400);
}

.badge {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  width: fit-content;
  padding: 0.2rem 0.4rem;
  border: 2px solid var(--neutral-500);
  border-radius: 99rem;
  font-family: Lexend;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1rem;
  color: var(--neutral-400);
}